<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.price_watch"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
     <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />
     
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.INTERNET"/>
     

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/pricewatch" >
        <activity
            android:name="splash.Splashscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name="com.price_watch.index"
        android:label="@string/app_name"></activity>
        <activity
        android:name="com.price_watch.Compare"
        android:label="@string/app_name"></activity>
         <activity
        android:name="com.price_watch.Search"
        android:label="@string/app_name"></activity>
          <activity
        android:name="com.price_watch.Info"
        android:label="@string/app_name"></activity>
           <activity
        android:name="com.price_watch.Help"
        android:label="@string/app_name"></activity>
            <activity
        android:name="com.price_watch.Admin"
        android:label="@string/app_name"></activity>
               <activity
        android:name="com.price_watch.Passcodechange"
        android:label="@string/app_name"></activity>
            <activity
        android:name="com.price_watch.Results"
        android:label="@string/app_name"></activity>
    </application>

</manifest>
